<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811127877624-fi3i9kqbm98tjlmvg02h3vum0228f0vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811127877624-fi3i9kqbm98tjlmvg02h3vum0228f0vc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811127877624-hdfkpifgq4o5t4tjpf3d9old8i75566k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDQVJXQkP5hWz9R3XC8q-eT2u5JMael58</string>
	<key>GCM_SENDER_ID</key>
	<string>811127877624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udacoding.newsProject</string>
	<key>PROJECT_ID</key>
	<string>news-flutter-17a46</string>
	<key>STORAGE_BUCKET</key>
	<string>news-flutter-17a46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811127877624:ios:fce115be4c91e0d442300d</string>
	<key>DATABASE_URL</key>
	<string>https://news-flutter-17a46.firebaseio.com</string>
</dict>
</plist>